body {
  background-color: #f1f8f9;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #f1f8f9;
  color: grey;
  border: 2px solid #e7e7e7;
  -webkit-text-stroke-width: 0.25px;
  -webkit-text-stroke-color: white;
  border-radius: 10px;
  width: 100px;
  
}

.button:hover {
  background-color: #e7e7e7;
}
