.form {
  display: flex;
  flex-direction: column;
  border: 2px solid lightblue;
  margin-top: 20px;
  width: 500px;
  height: 300px;
  justify-content: center;
  padding: 10px;
  box-shadow: 4px 4px #deeff5;
  border-radius: 30px;
}

.centerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.centerContent {
  padding-left: 115px;
}

.label {
  width: 40px;
  white-space: nowrap;
  color: #111517;
  -webkit-text-stroke-width: 0.25px;
  -webkit-text-stroke-color: white;
}

.inputLine {
  display: flex;
  padding-bottom: 5px;
}

.inputBox {
  padding-left: 10px;
  width: 100%;
}

.input {
  display: flex;
  align-self: flex-end;
  padding-left: 50px;
}

.buttonIndent {
  padding-left: 60px;
  padding-top: 10px;
}

.alreadyMember {
  padding-top: 10px;
  font-size: 10px;
  padding-left: 45px;
}

.addSocialHeader {
  width: 50px;
  white-space: nowrap;
  color: #111517;
  -webkit-text-stroke-width: 0.25px;
  -webkit-text-stroke-color: white;
  padding-bottom: 15px;
  padding-left: 60px;
}

.dropbtn {
  background-color: white;
  color: white;
  font-size: 10px;
  border: none;
  color: #111517;
  width: 165px;
  height: 22px;
  border: 0.02px solid lightgrey;
  display: flex;
  padding-left: 13px;
  font-weight: 500;
  font-style: italic;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  /* position: relative; */
  padding-left: 50px;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown_content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding-left: 10px;
}

/* Links inside the dropdown */
.dropdown_content a {
  padding: 3px 5px;
  text-decoration: none;
  display: block;
  color: #111517;
  font-size: 10px;
  font-style: italic;
  /* -webkit-text-stroke-width: 0.25px;
  -webkit-text-stroke-color: white; */
}

/* Change color of dropdown links on hover */
.dropdown_content a:hover {
  background-color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown_content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: white;
}
